<h1>Register</h1>

<form action="<%= users_path %>" method="POST">
	<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"/>
	<% if flash[:errors] %>
			<% flash[:errors].each do |error| %>
				<p class="text-dange"><%= error %></p>
			<% end %>
	<% end %>
	<div>
		<label for="Name">Name</label>
		<input type="text" name="user[name]" id="Name"/>
	</div>
	
	<div>
		<label for="Email">Email</label>
		<input type="text" name="user[email]" id="Email"/>
	</div>
	
	<div>
		<label for="Password">Password</label>
		<input type="password" name="user[password]" id="Password"/>
	</div>
	
	
	<div>
		<label for="Password_Confirmation">Password</label>
		<input type="password" name="user[password_confirmation]" id="Password_Confirmation"/>
	</div>
	
	<button type="submit">Register</button>
</form>

