<div id="container">
	<div id="content">
		<h3>This is not the path you were looking for...</h3>
		<p>Sorry, 127.0.0.1:3000/<%= @path %> does not exist on our site. perhaps you typed the url incorrectly?</p>
		<p>I appologize for the inconvienience</p>
		<p><a href="<%= dashboard_path %>">return to homepage</a></p>

	</div>
</div>