*{
	margin: 0;
	margin-top: 2px;
	padding: 0;
	font-family: sans-serif;
}

header{
	background: linear-gradient(to bottom, #fff, #ddd);
	display: flex;
	align-items: baseline;
	padding-top: 10px;
	h1{
		display: inline-block;
		width: 200px;
		padding: 5px;
		margin-left: 20px;
		vertical-align: bottom;
		flex-grow: 1;
		font-family: serif;;
	}
	
	#nav {
		padding-bottom: 5px;
		display: inline-flex;
		margin-right: 40px;
		justify-content: flex-end;
		text-align: right;
		flex-grow: 2;
		
		li{
			list-style: none;
			padding: 0px 20px;
			border-left: 1px solid #ccc;
		}
		a:visited{
			color: blue;
		}
		a:hover{
			color: darkblue;
		}
		#current{
			font-weight: bold;
			color: #000;
		}
	}
}
#container{
	margin-left: 100px;
	display: flex;
	flex-wrap: wrap;
	p{
		font-size: 16px;;
	}

	.sidebar{
		width: 300px;
		flex-grow: 1;
		margin: 0px 10px;
	}
	.content{
		flex-grow: 3;
	}
}
.inline{
	display: inline-block;
}

.form{
	h1{
		margin-bottom: 30px;
	}
	margin-top: 20px;
	font-size: 23px;
	display: inline-block;
	//width: fit-content;
	width: 100%;
	label{
		width: 250px;
		display: inline-block;
	}
	input{
		font-size: 23px;
		width: 300px;
	}
	select, option{
		font-size: 23px;
	}
	div{
		margin-top: 10px;
		
	}
	button{
		margin-top: 10px;
		display: block;
	}
	textarea{
		display: block;
		width: 100%;
	}
	
}

button{
	font-size: 23px;
	padding: 3px;
	border-radius: 5px;
}

.error{
	color: red;
	font-size: 16px;
}
.success{
	color: limegreen;
}

h3{
	margin-bottom: 10px;
}

table{
	font-size: 16px;
	justify-content: space-around;
	border: 1px solid black;
	thead{
		background: mediumblue;
		color: white;
	}
	td, th{
		padding: 5px;
		font-size: 16px;
	}
	tr:nth-child(2n){
		background: aliceblue;
	}
	tr:nth-child(2n+1){
		
	}
}
.scrollbox{
	overflow-y: scroll;
	height: 50vh;
	border: 2px solid blue;
}
button.sm{
	font-size: 12px;
}
button.blue{
	background: DodgerBlue;
	
	color: white;
	background: DodgerBlue;
	border-color: cyan;
}
button.green{
	background: green;
	
	color: white;
	background: limegreen;
	border-color: limegreen;
}
button.orange{
	background: orange;
	border-color: orange;
	color: white;
}
button.red{
	background: red;
	
	color: white;
	border-color: red;
}
button.right{
	display: inline-block;
	float: right
}