<h1>Secrets</h1>

<% @secrets.each do |secret| %>
  <p><%= secret.content %></p>
  <% if current_user == secret.user %>
    <a href="<%= secrets_path + "/" + secret.id.to_s %>" data-method="delete" >Delete Secret</a>
  <% end %>
<% end %>