<h1>this is not the page you are looking for...</h1>
<p>the page http://127.0.0.1:3000/<%= @path %> does not exist on this site.</p>
<p>did you enter the url correctly?</p>

<p><a href="<%= secrets_path %>">return to landing page</a></p>